name: pull_request

on: pull_request

jobs:
  check:
    runs-on: ubuntu-latest
    outputs:
      commitmsg: ${{ steps.commitmsg.outputs.commitmsg }}
    steps:
      - id: commitmsg
        name: get commit message
        run: echo "::set-output name=commitmsg::$(git log --format=%B -n 1 ${{ github.event.after }})"

  debug:
    runs-on: ubuntu-latest
    needs: check
    steps:
      - name: debug
        env:
	  commitmsg: ${{ needs.check.outputs.commitmsg }}
      	run: echo $commitmsg

  gcc-ubuntu-diffrun:
    runs-on: ubuntu-latest
    needs: check
    if: contains( needs.check.outputs.commitmsg , '[run ci]' )
    steps:
      - uses: actions/checkout@v1

      - name: Set up Python 3.5.9
        uses: actions/setup-python@v1
        with:
          python-version: 3.5.9

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --user -r requirements.txt
      - name: Print verison file
        run: |
          ./ci_generate.py --print-version | tee versions.json
      - uses: actions/cache@v1
        with:
          path: cache
          key: ${{ runner.os }}-cache-${{ hashFiles('versions.json')}}
          restore-keys: |
            ${{ runner.os }}-cache-
      - name: Run generate.py on gcc
        run: |
          ulimit -s unlimited
          ./ci_generate.py --htmldir=/tmp/html
      - name: Archive problem statements
        uses: actions/upload-artifact@v1
        with:
          name: statements
          path: /tmp/html
